/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
    font-family: 'Planet Kosmos';
    font-style: normal;
    font-weight: normal;
    src: local('Planet Kosmos'), url("../src/assets/fonts/PLANK___.woff") format('woff');
    }

body {
    font-family: 'Chivo', sans-serif;
    background-image: url("../src/assets/images/landscape6.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;


}
.jumbotron {
    background: transparent;
    /* background-image: url("../src/assets/images/landscape2.jpg");
    background-size: cover; */
  }
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 580%;
}
h4 {
    cursor: url("../src/assets/images/my-cursor1.png"), auto;

}

.content {
    background: rgba(255,252,234,0.8);
    width: 90%;
    padding: 5%;
    padding-top: 3%;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #8899;     
}
.btn {
    border-radius: 50px;
}

